\version "{{version}}"
\language "english"

{{#source_comment}}
% Original notation source:
{{{source_comment}}}
{{/source_comment}}

\header {
  {{#title}}
  title = "{{{title}}}"
  {{/title}}

  {{#composer}}
  composer = "{{{composer}}}"
  {{/composer}}

  % Instead of tagline = ##f, just make it an empty string.
  tagline = ""

  % Instead of odd/even Header/Footer = ##f, give them empty markups.
  oddHeaderMarkup = \markup { }
  evenHeaderMarkup = \markup { }
  oddFooterMarkup = \markup { }
  evenFooterMarkup = \markup { }

  % We intentionally do NOT set print-page-number because that
  % normally wants a Scheme boolean (##f / ##t).
}

\paper {
  % Enable automatic page breaking
  page-breaking = #ly:optimal-breaking

  % Use default A4 page size (no paper-height/paper-width constraints)
  % Minimal margins for clean output
  indent = 0\mm
  left-margin = 10\mm
  right-margin = 10\mm
  top-margin = 10\mm
  bottom-margin = 10\mm

  % System spacing to encourage natural page breaks
  system-system-spacing.basic-distance = #12
  system-system-spacing.minimum-distance = #8
  system-system-spacing.padding = #1
  ragged-last-bottom = ##t
}

\score {
  <<
    {{{staves}}}

    {{#lyrics}}
    \new Lyrics \lyricsto "mel" {
      {{{lyrics}}}
    }
    {{/lyrics}}
  >>

  \layout {
    \context {
      \Score

      \remove "Bar_number_engraver"
    }
  }
}
